<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="Default" value="Access"/>
    </appSettings>
    
    <connectionStrings>
        <add name="SqlServer" providerName="System.Data.SqlClient" connectionString=""/>
        <add name="Access" providerName="System.Data.OleDb" connectionString=""/>
    </connectionStrings>
</configuration>